body{
    background-color: rgb(237, 181, 181);
    color: rgb(24, 28, 18);
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
}
img{
    border-radius: 10px;
    border: 2px solid black;
}

